.home-page {
  margin-top: 120px;

  .left-first {
    background-color: #333;

    padding: 40px 20px;
    height: 100%;
  }
  h1 {
    font-weight: bold;
    font-size: 60px;
  }
  .btn.explore {
    background-color: #fff;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 15px;
    color: #000;

  }
  .left-img img,
  .right-column img {

  }
  .mt_10 {
    margin-top: 20px;
  }
  .brand-slider {
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
  }
  .about-section .container-fluid .shadow {
    padding: 4% 5%;
  }
  .about-section .container-fluid .shadow p {
    padding-right: 40px;
    text-align: justify;
  }
  p.lead {
    text-align: center;
    font-weight: 600;
  }
  .products-pick{
  .product-nav-item {
    padding: 8px 25px;
    font-size: 20px;

    background-color: transparent;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .product-nav-item.active,
  .product-nav-item:hover {
    background-color: #ff0020;
    color: #fff;
    border-radius: 0px;
  }
  .product-nav {
    gap: 1rem;
    white-space: nowrap;
}
}
  .cards {
    margin: 0px 40px;
  }
  .single-img {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #212529;
    color: white;
    overflow: hidden;
    // border-radius: 10px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
  }
  .single-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
  }
  .single-img .text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    z-index: 2;
    transition: opacity 0.5s ease-in-out;
  }

  .verticals-section .card-title {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  .single-img:hover img {
    opacity: 1;
  }
  .single-img:hover .text {
    opacity: 0;
  }

  .linked-body,
  .blog-content {
    background-color: #333;
    padding: 30px 50px;
    margin-top: 30px;
  }
  .Contact-us a.btn,
  .social-section a.btn {
    background-color: #ff0020;
    color: #fff;
    padding: 6px 6px;
    font-weight: 600;
    // border-radius: 10px !important;
  }
  .social-section {
    a.btn {
      background-color: #ff0020;
      color: #fff;
      padding: 6px 6px;
      font-weight: 600;
      // border-radius: 10px !important;
    }
  }
  .Contact-us {
    .content {
      margin-top: 40px;
      background-color: #333;
      color: #fff;

      padding: 20px;
    }
    .Contact-us a.btn {
      background-color: #ff0020;
      color: #fff;
      padding: 6px 6px;
      font-weight: 600;
      // border-radius: 10px !important;
    }
  }
}
@media screen and (max-width: 765px){
  .home-page {
    .h2_28{
    font-size: 35px;
  }
    .future{
     .right-column {
        margin-top: 20px;
    }
  }
  .about-section .container-fluid .shadow p{
    padding-right: 0px;
  }

  .verticals-section{
  .single-img {
    height: 100%;
    padding: 2rem;
  }
  #card-box{
  margin-bottom: 20px;
  }
  }
}
}
